<nav class="nav">
    <div class="nav__brand">
        isong <br> technologies
    </div>
    <div class="nav__tog">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1)"><path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z" class="svg"></path></svg>
    </div>
    <ul class="list nav__list">
        <li class="nav__item"><a href="">About</a></li>
        <li class="nav__item"><a href="">Services</a></li>
        <li class="nav__item"><a href="">Testimonials</a></li>
        <li class="nav__item"><a href="">Spotlight</a></li>
        <li class="nav__item"><a href="">Contact</a></li>
    </ul>
   </nav>